<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="app/css/shared/style.css">
    <script src="app/js/shared/script.js"></script>
  </head>

  <body>
    <nav-bar></nav-bar>
    <app-body>
      <div class="container">
        <p class="text">
          <i class="far fa-smile-wink"></i>
          <i class="far fa-smile"></i>Nice to meet you
        </p>
      </div>
      <app-resources>
        <app-link rel="stylesheet" href="home/home-style.css"></app-link>
        <app-script src="home/home-script.js"></app-script>
      </app-resources>
    </app-body>
  </body>
</html>